<div *ngIf="visibleTournament">
  <div class = "row">
    <div *ngFor="let entry of competitionTeams | keys; let i = index" >
      <div class="col l4 m4 s12" (mouseleave)= "entry.hideme = false">
        <div>
          <div (click) = "entry.hideme = !entry.hideme">
            <div class = "groupBox"><div class="placed"><h3><span class = "label label-warning">Group - {{entry.key}}</span></h3></div></div>
          </div>
          <div class="well box" [hidden] = "!entry.hideme" [class.right-side] = "i%3">
            <table class="table align" width="100%">
              <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Team</th>
                <th>Played Games</th>
                <th>Points</th>
                <th>Goals</th>
                <th>GA</th>
                <th>GD</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let subValue of entry.value">
                <th scope="row">{{subValue.rank}}</th>
                <td><img class="img-thumbnail small" src="{{subValue.crestURI}}">{{subValue.team}}</td>
                <td>{{subValue.playedGames}}</td>
                <td>{{subValue.points}}</td>
                <td>{{subValue.goals}}</td>
                <td>{{subValue.goalsAgainst}}</td>
                <td>{{subValue.goalDifference}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row gap">
  <div class="col l3 m4 s6">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1" (click) = "allFixtures()">MatchDay {{currentMatchDay}} </a>
  </div>
  <div class="col l3 offset-l6 m4 offset-m4 s4 offset-s2">
    <input class = "browser-default" type="search" placeholder="Search" #input>
  </div>
</div>

<div id="modal1" class="modal bottom-sheet" #modal >
  <div class="modal-content">
    <span *ngFor = "let all of allFixturesArray"> 
      <p style="color:black">{{all.date | date:'short'}}<br>{{all.homeTeamName}}&nbsp;&nbsp;VS&nbsp;&nbsp;{{all.awayTeamName}} &nbsp; <b style="font-size:larger">({{all.result.goalsHomeTeam}}</b> - <b style="font-size:larger">{{all.result.goalsAwayTeam}})</b></p></span>
  </div>
</div>

<table *ngIf="visibleLeague">
  <caption>Standings</caption>  
  <thead>
  <tr>
    <th scope="col"><p class="bigger"><b>#</b></p></th>
    <th scope="col"><p class="bigger"><b>Team</b></p></th>
    <th scope="col"><p class="bigger"><b>GD</b></p></th>
    <th scope="col"><p class="bigger"><b>GA</b></p></th>
    <th scope="col"><p class="bigger"><b>GF</b></p></th>
    <th scope="col"><p class="bigger"><b>L</b></p></th>
    <th scope="col"><p class="bigger"><b>D</b></p></th>
    <th scope="col"><p class="bigger"><b>W</b></p></th>
    <th scope="col"><p class="bigger"><b>GP</b></p></th>
    <th scope="col"><p class="bigger"><b>Pts</b></p><th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of (competitionTeams) | filterTable:input.value; let i = index;" (click)="onSubmit(team)">
    <td scope="row" data-label="Team Position"><p><b>{{team.position}}</b></p></td>
    <td class = "selector" data-label = "Team" ><img class="avatar" [hidden] = "!team.crestURI" src="{{team.crestURI}}"><p><b>{{team.teamName}}</b></p></td>
    <td scope="row" data-label="GD"><p><b>{{team.goalDifference}}</b></p></td>
    <td scope="row" data-label="GA"><p><b>{{team.goalsAgainst}}</b></p></td>
    <td scope="row" data-label="GF"><p><b>{{team.goals}}</b></p></td>
    <td scope="row" data-label="L"><p><b>{{team.losses}}</b></p></td>
    <td scope="row" data-label="D"><p><b>{{team.draws}}</b></p></td>
    <td scope="row" data-label="W"><p><b>{{team.wins}}</b></p></td>
    <td scope="row" data-label="GP"><p><b>{{team.playedGames}}</b></p></td>
    <td scope="row" data-label="Pts"><p><b>{{team.wins*3+team.draws}}</b></p></td>
  </tr>
  </tbody>
</table>
