<div class="row">
  <div class="col l4 m4 s12" *ngFor = "let competition of competitions" (click) = "onSubmit(competition)">
      <div class="box">
          <p class="bigger"><b> {{competition.caption}}</b></p>
          <p><b>League :</b> {{competition.league}}<br/>
          <b>Year :</b> {{competition.year}}<br/>
          <b>No of Teams :</b> {{competition.numberOfTeams}}<br/>
          <b>No of Games :</b> {{competition.numberOfGames}}<br/>
          <b>Current Match Day :</b> {{competition.currentMatchday}}<br/></p>
      </div>
    </div>
</div>