<div class="row gap">
    <div class="col l3 offset-l9 m4 offset-m8 s4 offset-s8">
        <input class = "browser-default" type="search" placeholder="Search" #input>
    </div>
</div>

<div class="row">
  <div class="col l4 m6 s12" *ngFor = "let competition of competitions | filterComp:input.value" (click) = "onSubmit(competition)">
      <div class="box">
          <p class="bigger"><b> {{competition.caption}}</b></p><hr>
          <p><b>League :</b> {{competition.league}}<br/>
          <b>Year :</b> {{competition.year}}<br/>
          <b>No of Teams :</b> {{competition.numberOfTeams}}<br/>
          <b>No of Games :</b> {{competition.numberOfGames}}<br/>
          <b>Current Match Day :</b> {{competition.currentMatchday}}<br/></p>
      </div>
    </div>
</div>

<div class="row" [hidden] = "!pageCount">
    <div class="col l2 offset-l10 m3 offset-m9 s4 offset-s8">
        <p>Page Count : {{pageCount}}</p>
    </div>
</div>

