/* You can add global styles to this file, and also import other style files */


@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bangers");

.bg { 
    /* The image used */
    background-image: url("../src/assets/u.jpg");
    /* Full height */
    height: auto;
    width:100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}

body, html {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  line-height: 25px;
}

p {
  font-size: 16px;
  color :white;
}

.logo{
  padding-top: 5px;
  width: 50px;
}

.gap{
  padding-top: 10px;
}

input {
  outline: none;
  float: right;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  height:15px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}




@media screen and (max-width: 800px) {
  .bg { 
      /* The image used */
      background-image: url("../src/assets/l.jpg");
      /* Full height */
      width:100%; 
      background-repeat: repeat-y;
      background-size: inherit;

  }

  p { 
    font-size: 11px;
    color :white; 
  }

}


