/* You can add global styles to this file, and also import other style files */


@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bangers");

.bg { 
    /* The image used */
    background-image: url("../src/assets/u.jpg");
    /* Full height */
    height: auto;
    width:100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

}

body, html {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  line-height: 25px;
}

p {
  font-size: 16px;
  color :white;
}

.logo{
  padding-top: 5px;
  width: 50px;
}

@media screen and (max-width: 600px) {
  .bg { 
      /* The image used */
      background-image: url("../src/assets/l.jpg");
      /* Full height */
      width:100%; 
      background-repeat: repeat-y;
      background-size: inherit;

  }

}
