<br>  
<div class="row">
    <div class="col l6 m6 s12" [hidden]="player"><button class="waves-effect waves-light btn" (click)="playerActive()"><span class="buttonText">Players List</span></button></div>
    <div class="col l3 m5 s12" [hidden]="fixture"><button class="waves-effect waves-light btn" (click)="fixtureActive()"><span class="buttonText">Recent Fixtures</span></button></div>
    &nbsp;<div class="col l3 m5 s12" [hidden]="fixture"><button class="waves-effect waves-light btn" (click)="previousFixture()"><span class="buttonText">Previous Results</span></button></div>
  </div>
<hr class = "myHr"/>

<div class="row" >
    <div class="col l3 offset-l9 m4 offset-m8 s4 offset-s8" [hidden] = "isPlayerActive">
        <input class = "browser-default"  type="search" placeholder="Search" #input>
    </div>
</div>

<div class="row" [hidden]="isPlayerActive">
  <div *ngFor="let player of players | playerfilter : input.value " #data>
    <div class="col l4 m6 s12">
      <div class ="box">       
        <p class="bigger"><img class="avatar" [hidden] = "!teamCrest" src="{{teamCrest}}">&nbsp;{{player.name}} </p>
        <hr/>
        <p><b>Position :</b> {{player.position}}<br/>
        <b>Jersey Number :</b> {{player.jerseyNumber}} <br/>
        <b>Date Of birth :</b> {{player.dateOfBirth}}<br/>
        <b>Nationality :</b> {{player.nationality}} <br/>
        <b>Contract Untill :</b> {{player.contractUntil}}<br/>
        <b>Market Value :</b> {{player.marketValue}}<br/></p>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!players?.length && isFixtureActive">
  <p class="bigger">No Player Data found For the Selected Team</p>
</div>


<div class="row" [hidden]="isFixtureActive">
  <div *ngFor="let fixture of schedule; let i = index;">
    <div class="col l12 m12 s12" *ngIf="(i < 5)">
      <div class = "fixtureBox">
      <p class="bigger">{{fixture.homeTeamName}} VS {{fixture.awayTeamName}}</p>
        <p><count-down [text]="text" units="Days | Hours | Minutes | Seconds " end="{{fixture.date}}"></count-down>days to go !</p>
          <p>IST timing :- {{fixture.date|date:'medium'}}</p>
      </div>
    </div>
  </div>
</div>



<div *ngIf="!previous?.length && !prevFix">
  <p class="bigger">No Previous Match Data Found</p>
</div>


<div class="row" [hidden]="prevFix">
  <div *ngFor="let prev of previous; let i = index;">
    <div class="col l12 m12 s12">
      <div class = "resultBox">
      <p> {{prev.date | date}}&nbsp;&nbsp;&nbsp;&nbsp;{{prev.homeTeamName}}&nbsp;&nbsp;&nbsp;[{{prev.result.goalsHomeTeam}}] &nbsp;&nbsp;- &nbsp;&nbsp; [{{prev.result.goalsAwayTeam}}]&nbsp;&nbsp; {{prev.awayTeamName}} </p>
      </div>
    </div>
  </div>
</div>
